<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CLEAR_INTERVAL" value="5000"/>
    <add key="CLEAR_PATH" value="C:\Temp\terrain_db"/>
    <add key="TARGET_PROCESS_NAME" value="ConvertI3SAnd3DTilesForm"/>
  </appSettings>
</configuration>